@use '../helpers' as *;

.hero {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding-top: 0;

  &__container {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    padding-top: fluid(200, 90);
    padding-bottom: fluid(200, 40);
  }

  &__body {
    max-width: rem(550);
    color: var(--color-light);

    @media (max-width: em(500)) {
      max-width: 100%;
    }
  }

  &__subtitle {
    font-size: rem(18);
    font-weight: 600;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__title {
    font-weight: 600;
    line-height: 1.2;

    @include adaptive-clamp('font-size', 48, 25);

    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  &__buttons {
    display: flex;
    row-gap: rem(20);

    @include adaptive-clamp('column-gap', 45, 20);

    @media (max-width: em(500)) {
      flex-direction: column;
    }
  }

  &__button {
    @media (max-width: em(500)) {
      width: 100%;
    }
  }
}
