@use 'helpers' as *;

:root {
  // --scrollbar-width: 0rem;
  // --z-index-header: 50;
  // --z-index-scroll-up: 10;
  // --z-index-dropdown: 100;
  // --z-index-popup: 150;
  // --z-body-after: 149;

  --font-family-base: 'Roboto', sans-serif;
  --font-family-second: 'Anton', sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.3s;

  --font-size: #{rem(16)};
  --font-weight: 400;
  --line-height: 1.5;

  --main-color: var(--color-dark);
  --second-color: var(--color-white);
  --accent-color: var(--color-pink);
  --hover-color: var(--color-pink);
  --hover-background: var(--color-pink);
  --scroll-up: var(--color-pink);

  --color-white: #ffffff;
  --color-dark: #000000;
  --color-light-gray: #b2b2b9;
  --color-pink: #eb2086;

  // --border: 1px solid var(--color-white);
  // --border-radius: #{rem(5)};
}
