<footer class="footer">
  <section class="footer__top">
    <h2 class="visualy-hidden">Footer</h2>
    <div class="container footer__grid">
      <div class="footer__column">
        <div class="footer-details">
          <include src="html/components/logo/_logo.html"></include>
          <div class="footer-details__text">
            <p>
              At nemore iriure luptatum nam, at iudico albucius console pericula
              this is partiendo constituam at per.
            </p>
          </div>
          <include src="html/components/social/_social.html"></include>
        </div>
      </div>
      <div class="footer__column">
        <div class="insta-blog">
          <h3 class="footer-title">Instagram</h3>
          <ul class="insta-blog__list">
            <li class="insta-blog__item">
              <img
                src="/src/assets/images/bicycles/p-1.webp"
                alt="bike"
                class="insta-blog__img"
                width="105"
                height="75"
                loading="lazy"
              />
            </li>
            <li class="insta-blog__item">
              <img
                src="/src/assets/images/bicycles/p-2.webp"
                alt="bike"
                class="insta-blog__img"
                width="105"
                height="75"
                loading="lazy"
              />
            </li>
            <li class="insta-blog__item">
              <img
                src="/src/assets/images/bicycles/p-3.webp"
                alt="bike"
                class="insta-blog__img"
                width="105"
                height="75"
                loading="lazy"
              />
            </li>
            <li class="insta-blog__item">
              <img
                src="/src/assets/images/bicycles/p-4.webp"
                alt="bike"
                class="insta-blog__img"
                width="105"
                height="75"
                loading="lazy"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__column">
        <adress class="contacts">
          <h3 class="footer-title">Contact Us</h3>
          <ul class="contacts__list">
            <li class="contacts__item">
              <span class="color-accent">Phone: </span
              ><a href="tel:+10452241267" class="contacts__link"
                >+ 1 (045) – 224 – 12 – 67</a
              >
            </li>
            <li class="contacts__item">
              <span class="color-accent">Address: </span
              ><a href="" class="contacts__link"
                >470 Lucy Forks, Patriciafurt, YC7B 3UT</a
              >
            </li>
            <li class="contacts__item">
              <span class="color-accent">Mail: </span
              ><a href="mailto:template@monster.com" class="contacts__link"
                >template@monster.com</a
              >
            </li>
          </ul>
        </adress>
      </div>
      <div class="footer__column">
        <div class="subscribe">
          <h3 class="footer-title">Subscribe</h3>
          <form action="" class="subscribe-form">
            <div class="subscribe-form__group">
              <label for="email" class="visualy-hidden">Enter your email</label>
              <input
                class="subscribe-form__input"
                type="email"
                name="email"
                id="email"
                placeholder="Your mail"
                required
              />
              <button class="subscribe-form__button">
                <span class="visualy-hidden">submit form</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="footer__copy">
    <div class="container">
      <p class="copy">Zemez ©. All rights reserved.</p>
    </div>
  </div>
</footer>
