<ul class="soc1al">
  <li class="soc1al__item">
    <a href="https://fb.com" target="_blank" class="soc1al__link icon icon-fb">
      <span class="visually-hidden">Go to our Facebook page</span>
    </a>
  </li>
  <li class="soc1al__item">
    <a
      href="https://instagram.com"
      target="_blank"
      class="soc1al__link icon icon-insta"
    >
      <span class="visually-hidden">Go to our Instagram page</span>
    </a>
  </li>
  <li class="soc1al__item">
    <a href="https://x.com" target="_blank" class="soc1al__link icon icon-x">
      <span class="visually-hidden">Go to our Twitter page</span>
    </a>
  </li>
  <li class="soc1al__item">
    <a
      href="https://youtube.com"
      target="_blank"
      class="soc1al__link icon icon-youtube"
    >
      <span class="visually-hidden">Go to our Youtube page</span>
    </a>
  </li>
</ul>
